@import "theme";

.app-footer {
  display: flex;
  color: $color-gray;
  font-size: $font-size-sm;
  justify-content: space-between;
  align-items: center;

  &__copyright {
    display: flex;
    font-weight: bold;
    align-items: center;
  }

  &__heart {
    display: inline-flex;
    color: #c00;
    fill: #c00;
    margin: 0 4px;
  }

  &__links {
    display: flex;

    &-item {
      display: inline-flex;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
