<div class="app-footer">
  <div class="app-footer__copyright">
    <span>Made with </span>

    <skylet-icon
      class="app-footer__heart"
      name="heart"
      size="sm"
      [isFilled]="true"
    ></skylet-icon>

    <span> in Spain.</span>
  </div>

  <div class="app-footer__links">
    <a
      class="app-footer__links-item"
      href="https://github.com/skylet-ui/skylet-ui.github.io"
      target="_blank"
    >
      Visit the GitHub project
    </a>

    <a
      class="app-footer__links-item"
      href="https://github.com/skylet-ui/skylet-ui.github.io"
      target="_blank"
    >
      Visit the NPM package
    </a>
  </div>
</div>
