@import "theme";

.app-footer {
  display: flex;
  color: $color-gray;
  font-size: $font-size-sm;
  justify-content: space-between;
  align-items: center;

  &__copyright {
    font-weight: bold;
  }

  &__links {
    display: flex;

    &-item {
      display: inline-flex;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
