@import "theme";

.app-header {
  background-color: $color-primary;
  color: #fff;
  padding: $spacing-md;

  &__title {
    display: inline-flex;
    color: #fff;
    font-size: $font-size-lg;
  }
}
