<div class="app-footer">
  <div class="app-footer__copyright">&copy; 2022 SkyletUI</div>

  <div class="app-footer__links">
    <a
      class="app-footer__links-item"
      href="https://github.com/skylet-ui/skylet-ui.github.io"
      target="_blank"
    >
      Visit the GitHub project
    </a>

    <a
      class="app-footer__links-item"
      href="https://github.com/skylet-ui/skylet-ui.github.io"
      target="_blank"
    >
      Visit the NPM package
    </a>

    <a
      class="app-footer__links-item"
      href="https://github.com/skylet-ui/skylet-ui.github.io"
      target="_blank"
    >
      Visit the GitHub DOC project (this website)
    </a>
  </div>
</div>
