$font-family: monospace, sans-serif;

$font-size-sm: 0.75rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xlg: 1.5rem;
$font-size-xxlg: 1.75rem;
$font-size-xxxlg: 2rem;

$font-line-height: 1.3;
